@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --radius: 0.625rem;

  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.145 0.004 285.823);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.145 0.004 285.823);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.145 0.004 285.823);
  --color-primary: oklch(0.205 0.006 285.885);
  --color-primary-foreground: oklch(0.985 0 0);
  --color-secondary: oklch(0.97 0.001 286.375);
  --color-secondary-foreground: oklch(0.205 0.006 285.885);
  --color-muted: oklch(0.97 0.001 286.375);
  --color-muted-foreground: oklch(0.556 0.007 285.885);
  --color-accent: oklch(0.97 0.001 286.375);
  --color-accent-foreground: oklch(0.205 0.006 285.885);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.922 0.004 286.32);
  --color-input: oklch(0.922 0.004 286.32);
  --color-ring: oklch(0.708 0.003 286.027);

  --color-sidebar: oklch(0.985 0 0);
  --color-sidebar-foreground: oklch(0.145 0.004 285.823);
  --color-sidebar-border: oklch(0.922 0.004 286.32);
  --color-sidebar-accent: oklch(0.97 0.001 286.375);
  --color-sidebar-accent-foreground: oklch(0.205 0.006 285.885);
  --color-sidebar-ring: oklch(0.708 0.003 286.027);
}

.dark {
  --color-background: oklch(0.145 0.004 285.823);
  --color-foreground: oklch(0.985 0 0);
  --color-card: oklch(0.145 0.004 285.823);
  --color-card-foreground: oklch(0.985 0 0);
  --color-popover: oklch(0.145 0.004 285.823);
  --color-popover-foreground: oklch(0.985 0 0);
  --color-primary: oklch(0.985 0 0);
  --color-primary-foreground: oklch(0.205 0.006 285.885);
  --color-secondary: oklch(0.269 0.006 285.885);
  --color-secondary-foreground: oklch(0.985 0 0);
  --color-muted: oklch(0.269 0.006 285.885);
  --color-muted-foreground: oklch(0.708 0.003 286.027);
  --color-accent: oklch(0.269 0.006 285.885);
  --color-accent-foreground: oklch(0.985 0 0);
  --color-destructive: oklch(0.704 0.191 22.216);
  --color-border: oklch(0.269 0.006 285.885);
  --color-input: oklch(0.269 0.006 285.885);
  --color-ring: oklch(0.439 0.01 285.885);

  --color-sidebar: oklch(0.17 0.005 285.823);
  --color-sidebar-foreground: oklch(0.985 0 0);
  --color-sidebar-border: oklch(0.269 0.006 285.885);
  --color-sidebar-accent: oklch(0.269 0.006 285.885);
  --color-sidebar-accent-foreground: oklch(0.985 0 0);
  --color-sidebar-ring: oklch(0.439 0.01 285.885);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
